// Specific CSS for your home-page
.content-container {
  margin-bottom: 56px;
  min-height: calc(100vh - 56px);
}

.center-all {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display:flex;
}

.full-page {
  min-height: calc(100vh - 56px);
}

.swap-fonts .card-category {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
.swap-fonts h1 {
  font-family: 'Open Sans', sans-serif;
}
