
<div class="container-favourite">
  <h1 class="favourite-text">Your favourites</h1>
    <div class="row">
      <% @favourites.each do |favourite| %>
        <div class="col-6 mb-2">
          <div class="card-favourites" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path favourite.activity.photo.key %>)">
            <%= favourite.activity.title %><br>
          </div>
        </div>
      <% end %>
    </div>
</div>
