<div class="bottom-nav  d-flex justify-content-evenly">
  <%= link_to root_path, class: "p-3 default-color #{ 'nav-active-pink' if params[:controller] == 'pages' && params[:action] == 'home' } " do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to favourites_path, class: "p-3 default-color #{ 'nav-active-purple' if params[:controller] == 'favourites' && params[:action] == 'index' } " do %>
    <i class="fas fa-heart"></i>
  <% end %>
  <i class="fas fa-search p-3 default-color"></i>
  <%= link_to users_path, class: "p-3 default-color #{ 'nav-active-yellow' if params[:controller] == 'users' && params[:action] == 'index' } " do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>
