<div class="banner" >
  <div class="container mx-5">
    <h1>All out</h1>
    <p>Because fun times should not be hard to find!</p>
    <%= link_to 'Discover more', new_question_answer_path(@first_question),  class: "btn btn-success"  %>
  </div>
</div>
