.card-body {
  //color:white;
  text-align: center;
  //margin: 20px;
}
.card {
  width: 100%;
  height: 100px; // so we can see the whole card
}

// card favourites

.card-favourites {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 180px;
  text-align: center;
}

.content-container {
  margin-bottom: 0px !important;
  min-height: 0px !important;
  //height: 100vh;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-page {
  background-color: #FFC460;
  height: 100vh;
  padding-top: 20px;
}

.show-up {
  background-color: #FFEBC7;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(87, 60, 60, 0.514);
}
.show-message{
  color: rgb(44, 43, 43);
  font-family: Optima, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(8, 6, 109, 0.2);
}

.show-bottom{
  background-color: #FFEBC7;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  font-family: Optima, sans-serif;
  font-size: 24px;
}
.show-bottom p{
  font-family: Optima, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.diplay-raw {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.show-boking{
  background-color: #FFEBC7;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(247, 223, 89, 0.2);
  padding: 10px;
  font-family: Optima, sans-serif;
  font-size: 24px;
}

.show-boking p{
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.ruby-text{
  font-family: Optima, sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

.container-favourite{
  background-color: #D9BCEE;
  height: 100vh;
}

.favourite-text{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.row-favourite {
  display: flex;
  flex-wrap: wrap;
  margin: 0pt;
}
