// Import your components CSS files here.
@import "alert";
@import "answer";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "map";
@import "navbar";
@import "search";

body {
  background-image: url(assets/background-grey);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
