// Import your components CSS files here.
@import "alert";
@import "answer";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "form";
@import "map";
@import "navbar";
@import "search";

<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> 8efd158bc2ad5461bb71fd306a3d95bdd6802cc2
.body-background {
  background-image: url('background-grey.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
<<<<<<< HEAD
>>>>>>> 731e911929510ea913cbfcc0bfb6ffc8f5f8c2d9
=======

>>>>>>> 8efd158bc2ad5461bb71fd306a3d95bdd6802cc2
