.default-color {
  color: #b5c4da;
}

.default-color:hover {
  text-decoration: none;
  color: #b5c4da;
}

// icon

.nav-active {
  background-color: #ebebeb;
  color: #222831;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  &:hover {
    color: #222831;
  }
}

.nav-active i {
  display: flex;
  justify-content: center;
  align-items: center;
}

// navbar container properties

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container-navbar {
  position: fixed;
  width:100%;
  bottom:0;
  left:0;
  z-index: 5;
}

.bottom-nav {
  background: #fff;
  box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
