.nav-active {
  background-color: red;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container-navbar {
  position: absolute;
  bottom: 0;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

.bottom-nav {
    background: #fff;
    border-radius: 3rem 3rem 0 0;
    box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
