.search-box{
  width: 100%;
}
.search-input{
  width: 100%;
  padding: 10px;
  border: 2px solid #111d5e;
  border-radius:2px 0 0 2px ;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #B0244F;
  background: none;
  line-height: 20px;
}
.search-button{
  text-align: center;
  width: 20%;
  outline: none;
  cursor: pointer;
  border: 2px solid #111d5e;
  border-radius: 0 2px 2px 0 ;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 2px solid #111d5e;
  display:inline-block;
  line-height: 20px;
}
.form-span {
  display: flex;
}


// image in the search-box

.search-box img {
  margin-top: 100px;
}

// hide date in form booking

.booking_date label {
  display: none;
}
